.container{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    /* align-items: center; */
}
.item{
    width: 33%;
    padding: 10px;
    box-sizing: border-box;
    outline: 1px solid black;
}
#fourAndAHalf{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
}
.nav-section{
    background-color: blue;
}

.nav-section p{
    display: inline;
    font-size: 30px;
}