body {
    /* width: 350px;
    height: 759px; */
    background-image: url(assets/desk.jpg);
    background-size: 100%;
    position: sticky;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.background {
    display: flex;
    justify-content: center;
    background-image: url(assets/background.gif);
    background-size: 100%;
    position: sticky;
}

@keyframes push-animation {
    0% {
        transform: translateY(0) translateX(0) rotateZ(0);

    }

    50% {
        transform: translateY(var(--push-y)) rotateZ(var(--push-r));
    }

    100% {
        transform: translateY(0) translateX(0) rotateZ(0);
    }
}

@keyframes hit-animation {
    0% {
        transform: translateY(0) translateX(0) rotateZ(0);

    }

    30% {
        transform: translateY(var(--hit-y)) translateX(var(--hit-x)) rotateZ(var(--hit-r));
    }

    100% {
        transform: translateY(0) translateX(0) rotateZ(0);
    }
}


/* .pushingNotice {
animation-duration: 0.5s; 
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;
} */
.phone-container {
    width: 350px;
    height: 759px;
    background-color: black;
    border-radius: 20px;
    border: 6px solid dimgray;
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.time {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: 200;
    color: aliceblue;
    text-align: center;
    margin: 0px;
}

h1 {
    margin: 0px;
}

.date {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: aliceblue;
    text-align: center;
}

.clickButton {
    position: absolute;
    left: 10px;
}

.notification {
    background-color: aliceblue;
    color: aliceblue;
    width: 340px;
    height: 70px;
    border-radius: 10px;
    /* position: absolute;
    bottom: 10px; */
    justify-content: center;
    text-align: center;
    margin-left: 5px;
}
.bulletingNote{
    background-color: aliceblue;
    color: aliceblue;
    width: 340px;
    height: 70px;
    border-radius: 10px; 
}
.call-stretch-1 {
    transform: translateY(10px) scale(1.1, 1.0) skewY(10deg) rotateZ(-5deg);
    border-radius: 40px;
    height: 920px;
}

.call-stretch-2 {
    transform: translateY(20px) scale(1.8, 1.0) skewY(-10deg) rotateZ(15deg);
    /* rotateZ(-2deg);   */
    background-image: url(assets/background.gif);
    border-radius: 40px;
    height: 1060px;
}

.call-stretch-3{
    transform: translatey(100px) scale(2, 1.0) skew(20deg) rotateZ(15deg);
    border-radius: 80px;
    height: 1300px;
}
.bulge-belly-2 {
    transform: translateY(20px) scale(1.1, 1.0) skewY(-5deg);
    /* rotateZ(-2deg);   */
    border-radius: 40px;
    height: 920px;
}

.bulge-belly-3 {
    transform: translateY(20px) scale(1.4, 1.0) skewY(-10deg);
    /* rotateZ(5deg);   */
    border-radius: 60px;
    height: 1000px;
}

.bulge-belly-4 {
    transform: translatey(60px) scale(2, 1.0) skew(20deg) rotateZ(30deg);
    border-radius: 80px;
    height: 1640px;
}

.bulge-belly-5 {
    /* 示例：保留手机的拉宽/倾斜效果 */
    transform: scale(1.5, 1.0) skewY(10deg);
}


@keyframes drift-animation {
    0% {
        transform: translate(var(--start-x), var(--start-y)) rotate(0deg);
    }

    50% {
   
        transform: translate(var(--drift-x), var(--drift-y)) rotate(var(--drift-r));
    }

    100% {
        transform: translate(calc(var(--drift-x) * -1), calc(var(--drift-y) * -1)) rotate(calc(var(--drift-r) * -0.5));
    }
}

/* 3. 应用到通知元素上 */
.notification {
    /* ... 其他定位样式 ... */
    animation: drift 5s ease-in-out infinite alternate;
    /* 持续应用动画 */
    animation-duration: var(--drift-speed);
    /* JS 也可以设置 speed 变量 */
}

/* .notification-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 50px;
}
.notification-item{
    background-color: white;
    width: 340px;
    height: 70px;
    gap: 5px;
    border-radius: 10px;
    justify-content: center;
} */