body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mahjong-text-container {
    background-color: darkgreen;
    width: 700px;
    height: 700px;
    border: 10px solid brown;
    border-radius: 0.8rem;
    display: flex;
    flex-wrap: nowrap;
    /* gap: 10px;  */
    position: relative;
}

.player {
    display: flex;
    background-color: transparent;
    color: greenyellow;
    /* color:brown; */
}

.player span {
    background-color: greenyellow;
    border-radius: 0.3rem;
    border: 2px solid gray;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 1px;
}

#player1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: -180px;
    bottom: 45%;
    transform: rotate(90deg);
    justify-content: center;
    /* animation: flip 1s ease-in-out 0s infinite alternate; */
}

#player1 span {
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#player2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-items: center;
    top: 20px;
    left: 15%;
    /* gap: 5px; */
}

#player2 span {
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: -180px;
    bottom: 45%;
    transform: rotate(-90deg);
    justify-content: center;
}

#player3 span {
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#player4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-items: center;
    bottom: 20px;
    left: 15%;
    /* gap: 5px; */
}

#player4 span {
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mahjong-class-1{
    animation: flip 1s ease-in-out 0s infinite alternate;
    /* animation: bounce 1s ease-out 0s infinite alternate; */
}
.mahjong-class-2{
    animation: flip 1s ease-in-out 1s infinite alternate;
}
.mahjong-class-3{
    animation: flip 1s ease-in-out 2s infinite alternate;
}
.mahjong-class-4{
    animation: flip 1s ease-in-out 3s infinite alternate;
}
.mahjong-class-5{
    animation: flip 1s ease-in-out 4s infinite alternate;
}
.mahjong-class-6{
    animation: flip 1s ease-in-out 5s infinite alternate;
}
.mahjong-class-7{
    animation: flip 1s ease-in-out 6s infinite alternate;
}
.mahjong-class-8{
    animation: flip 1s ease-in-out 7s infinite alternate;
}
.mahjong-class-9{
    animation: flip 1s ease-in-out 8s infinite alternate;
}


@keyframes flip {
    0% {
        background-color: greenyellow;
        color: greenyellow;
        transform: translateY(0);
    }

    30% {
        background-color: antiquewhite;
        color: brown;
        transform: translateY(15px);
    }

    100% {
        background-color: antiquewhite;
        color: brown;
        transform: translateY(0);
    }
}


/* @keyframes bounce {
    from{
transform: translateY(0);
    }
    to {
transform: translateY(15px);
    }
} */
    /* .mahjong-class-1{ */
    /* display: flex; */
    /* position: absolute;
    top: 50px;
    align-items: row;
    display: flex; */
    /* flex-direction: column; */
    /* justify-items: column;
    gap: 1px; */
    /* }
.mahjong-class-2{

} */
    /* .mahjong-text-container span{
    display: flex;
    text-wrap: wrap;
    background-color: greenyellow;
    color:greenyellow;
    width: 40px;
    height: 60px;
    border-radius: 0.2rem;
    border: 2px solid gray;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    justify-content: center;
} */
    /* .mahjong-class-1{
    animation: flip 10s ease-in-out forwards;
}
@keyframes flip {
    0%{
    background-color: greenyellow;
    color:greenyellow;
    }
    30%{
    background-color: antiquewhite;
    color: brown;
    }
    100%{
    background-color: antiquewhite;
    color: brown;
    }
}
.mahjong-class-2{
/* transform: rotateY(180deg); */