body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mahjong-text-container {
    background-color: darkgreen;
    width: 700px;
    height: 700px;
    border: 10px solid brown;
    border-radius: 0.8rem;
    display: flex;
    flex-wrap: nowrap;
    /* gap: 10px;  */
    position: relative;
}

.player {
    display: flex;
    background-color: transparent;
    color: greenyellow;
    /* color:brown; */
}

.player span {
    background-color: greenyellow;
    border-radius: 0.3rem;
    border: 2px solid gray;
    padding: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    gap: 1px;
}

#player1 {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: -180px;
    bottom: 45%;
    transform: rotate(90deg);
    justify-content: center;
    /* animation: flip 1s ease-in-out 0s infinite alternate; */
}

#player1 span {
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#player2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-items: center;
    top: 20px;
    left: 15%;
    /* gap: 5px; */
}

#player2 span {
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#player3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: -180px;
    bottom: 45%;
    transform: rotate(-90deg);
    justify-content: center;
}

#player3 span {
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

#player4 {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-items: center;
    bottom: 20px;
    left: 15%;
    /* gap: 5px; */
}

#player4 span {
    width: 40px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mahjong-class-1{
    animation: draw-and-flip 3s ease-in-out 0s infinite alternate;
    /* animation: bounce 1s ease-out 0s infinite alternate; */
}
.mahjong-class-2{
    animation: draw-and-flip 3s ease-in-out 0.2s infinite alternate;
}
.mahjong-class-3{
    animation: draw-and-flip 3s ease-in-out 0.4s infinite alternate;
}
.mahjong-class-4{
    animation: draw-and-flip 3s ease-in-out 0.8s infinite alternate;
}
.mahjong-class-5{
    animation: draw-and-flip 3s ease-in-out 1.0s infinite alternate;
}
.mahjong-class-6{
    animation: draw-and-flip 3s ease-in-out 1.2s infinite alternate;
}
.mahjong-class-7{
    animation: draw-and-flip 3s ease-in-out 1.4s infinite alternate;
}
.mahjong-class-8{
    animation: draw-and-flip 3s ease-in-out 1.6s infinite alternate;
}
.mahjong-class-9{
    animation: draw-and-flip 3s ease-in-out 1.8s infinite alternate;
}



@keyframes draw-and-flip {
  0%, 20% {
    transform: translateY(0) rotateY(0deg);
    background-color: greenyellow;
    color: greenyellow;
  }
  
  50% {
    transform: translateY(-15px) rotateY(0deg);
    background-color: greenyellow;
    color: greenyellow;
  }
  
  75% {
    transform: translateY(-15px) rotateY(180deg);
  }

  80% {
    transform: translateY(-15px) rotateY(180deg);
    background-color: white;
    color: brown; 
  }

  95%, 100% {
    transform: translateY(0) rotateY(180deg);
    background-color: white;
    color: brown;
  }
}
