#grandma-sewing-things-background {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -10;
}

#grandma-sewing-things-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

body{
    background-color: #aea481;
}

@font-face {
  font-family: 'YRDZST';
  src: url(assets/YRDZST\Semibold.ttf);
}