body {
    background-color: black;

}

#title {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:-10%;
}

#title img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: -1;
}

#start {
    width: 120px;
    height: 120px;
    position: fixed;
    left: 47%;
    top: 70%;
    z-index: 1;
}
#start:hover{
    cursor: pointer;
}
#start img {
    width: 100%;
    height: 100%;
}