
@font-face {
  font-family: 'YRDZST';
  src: url(assets/YRDZST\Semibold.ttf);
}

html,
body {
  overflow-x: auto;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  position: relative;
  --star-opacity: 0;
  --moon-text-gif: url("assets/moon-text.gif");
  --moon-text-opacity: 0.2;
}

body::before {
  content: "";
  position: fixed;
  right: 10%;
  top: 10%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: var(--moon-text-gif) center/contain no-repeat;
  opacity: var(--moon-text-opacity);
  pointer-events: none;
  z-index: 1;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: url("assets/star.gif") center/cover no-repeat;
  opacity: var(--star-opacity);
  pointer-events: none;
  z-index: 1;
}

/* single background image layer with controllable opacity and brightness */
#background-image {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  pointer-events: none;
  object-fit: cover;
  transition: opacity 0.1s ease-in-out, filter 0.1s ease-in-out;
}

#background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* unified rule for both sun and moon elements (as <img>) */
.moving-sun-and-moon {
  position: fixed;
  /* left: 50%;
  top: 50%; */
  z-index: 100;
  pointer-events: none;
  width: 120px;
  height: 120px;
  object-fit: contain;
  display: block;
  transform-origin: center center;
}


.windowHeight {
  height: 100vh;
  width: 100%;
}

#follow {
  position: fixed;
  display: none;
  pointer-events: none;
  padding: 4px 8px;
}


#follow .grandpa {
  display: inline-block;
  transition: transform 1s ease-out, opacity 1s ease-out;
  font-family: 'YRDZST';
  font-weight: 800;
  font-size: 36px;
  color: darkorange;
}


.extra-page {
  height: 1000vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(2, 0, 36, 1) 10%,
      rgba(32, 32, 59, 1) 20%,
      rgba(60, 60, 100, 1) 40%,
      rgba(120, 150, 200, 1) 55%,
      rgba(140, 180, 220, 1) 75%,
      rgba(197, 221, 233, 1) 90%,
      rgba(255, 255, 255, 1) 100%);

}


#small-town-background {
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  display: block;
  margin: 0;
  background-color: rgba(197, 221, 233, 1);

}

#small-town-background img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: contain;
  margin: 0px;
}

#supermarket-background {
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    display: block;
    margin: 0;
    background-color: white;
    position: relative;
}

#supermarket-background img {
    height: 100%;
    width: auto;
    display: block;
    object-fit: contain;
    margin: 0px;
}


.product-name{
  font-family: 'YRDZST';
  font-weight: 500;
  font-size: 24px;
  color: brown;
}