#small-town-background {
  height: 100vh;
  width: 100vw;
  overflow-x: scroll;
  display: block;
  margin: 0;
  background-color: rgba(197, 221, 233, 1);

}

#small-town-background img {
  height: 100%;
  width: auto;
  display: block;
  object-fit: contain;
  margin: 0px;
}

#supermarket-background {
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    display: block;
    margin: 0;
    background-color: white;
    position: relative;
}

#supermarket-background img {
    height: 100%;
    width: auto;
    display: block;
    object-fit: contain;
    margin: 0px;
}


.product-name{
  font-family: 'YRDZST';
  font-weight: 500;
  font-size: 24px;
  color: brown;
}

#grandpa-container{
    pointer-events: none;
}