@font-face {
  font-family: 'YRDZST';
  src: url(assets/YRDZST\Semibold.ttf);
}


#supermarket-background {
    height: 100vh;
    width: 100vw;
    overflow-x: scroll;
    display: block;
    margin: 0;
    padding: 0;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    border: 0;
}

#supermarket-background img {
    height: 100%;
    width: auto;
    display: block;
    object-fit: contain;
    margin: 0px;
}


.product-name{
  font-family: 'YRDZST';
  font-weight: 500;
  font-size: 24px;
  color: brown;
}

#grandpa-container{
    pointer-events: none;
}